In [1]:
import pandas as pd

In [2]:
pd.Series([10,88,3,4,5])

0    10
1    88
2     3
3     4
4     5
dtype: int64

In [4]:
seri = pd.Series([10,88,3,4,5])
seri

0    10
1    88
2     3
3     4
4     5
dtype: int64

In [5]:
type(seri)

pandas.core.series.Series

In [6]:
seri.axes

[RangeIndex(start=0, stop=5, step=1)]

In [7]:
seri.dtype

dtype('int64')

In [8]:
seri.size

5

In [9]:
seri.ndim

1

In [10]:
seri.values

array([10, 88,  3,  4,  5], dtype=int64)

In [11]:
seri.head()

0    10
1    88
2     3
3     4
4     5
dtype: int64

In [12]:
seri.head(3)

0    10
1    88
2     3
dtype: int64

<bound method NDFrame.describe of 0    10
1    88
2     3
3     4
4     5
dtype: int64>

In [16]:
seri.tail(2)

3    4
4    5
dtype: int64

index isimlendirmesi

In [17]:
pd.Series([1,2,3,4,5], index=[5,4,3,2,1])

5    1
4    2
3    3
2    4
1    5
dtype: int64

In [21]:
seri = pd.Series([1,2,3,4,5], index=["5a",4,"a",2,1])

In [22]:
seri

5a    1
4     2
a     3
2     4
1     5
dtype: int64

In [23]:
seri["a"]

3

In [25]:
seri["5a":"a"]

5a    1
4     2
a     3
dtype: int64

In [26]:
sozluk = pd.Series( {"elma":10, "ayva":15, "muz":20} )
sozluk

elma    10
ayva    15
muz     20
dtype: int64

In [27]:
pd.concat([seri, sozluk])

5a       1
4        2
a        3
2        4
1        5
elma    10
ayva    15
muz     20
dtype: int64

In [31]:
pd.concat([seri, sozluk], axis=1)

        0     1
5a    1.0   NaN
4     2.0   NaN
a     3.0   NaN
2     4.0   NaN
1     5.0   NaN
elma  NaN  10.0
ayva  NaN  15.0
muz   NaN  20.0

In [32]:
pd.concat([seri, sozluk], axis=0)

5a       1
4        2
a        3
2        4
1        5
elma    10
ayva    15
muz     20
dtype: int64