In [1]:
import numpy as np
import pandas as pd

In [2]:
a = np.array([1,22,333,4444,5555,6666])
seri = pd.Series(a)
seri

0       1
1      22
2     333
3    4444
4    5555
5    6666
dtype: int32

In [3]:
seri[0]

1

In [4]:
seri[0:2]

0     1
1    22
dtype: int32

In [5]:
seri = pd.Series(np.random.randint(5_000,10_000, 5), index=["Ali","Ebru", "Ceyda", "Ömer", "Kadir"])
seri

Ali      5808
Ebru     7424
Ceyda    5686
Ömer     7520
Kadir    5417
dtype: int32

In [6]:
seri.index

Index(['Ali', 'Ebru', 'Ceyda', 'Ömer', 'Kadir'], dtype='object')

In [7]:
seri.keys

<bound method Series.keys of Ali      5808
Ebru     7424
Ceyda    5686
Ömer     7520
Kadir    5417
dtype: int32>

In [8]:
list(seri.items())

[('Ali', 5808),
 ('Ebru', 7424),
 ('Ceyda', 5686),
 ('Ömer', 7520),
 ('Kadir', 5417)]

In [9]:
seri.values

array([5808, 7424, 5686, 7520, 5417])

eleman sorgusu

In [10]:
"Ömer" in seri

True

In [15]:
seri["Ömer"]

7520

fancy

In [19]:
seri[["Ömer" ,"Ali"]]

Ömer    7520
Ali     5808
dtype: int32

In [20]:
seri.Ömer = 9500

In [21]:
seri

Ali      5808
Ebru     7424
Ceyda    5686
Ömer     9500
Kadir    5417
dtype: int32

In [22]:
seri["Ömer"] = 7_777

In [23]:
seri

Ali      5808
Ebru     7424
Ceyda    5686
Ömer     7777
Kadir    5417
dtype: int32

In [24]:
seri["Esra"] = 5000
seri

Ali      5808
Ebru     7424
Ceyda    5686
Ömer     7777
Kadir    5417
Esra     5000
dtype: int64

In [25]:
seri.Ömer - seri.Esra

2777

In [29]:
seri[ seri >7000]

Ebru    7424
Ömer    7777
dtype: int64