loc & iloc

In [1]:
import numpy as np
import pandas as pd

In [2]:
m = np.random.randint(1,30, size=(10,3))
df = pd.DataFrame(m, columns=["var1", "var2", "var3"])
df

   var1  var2  var3
0     9    18    25
1    14    29    29
2     8    18    13
3    13     3    11
4    25    15    14
5    24     3    13
6    14    29    16
7    16    29     7
8    19    10     6
9    13     5     8

koc

In [4]:
df.loc[0:3]

   var1  var2  var3
0     9    18    25
1    14    29    29
2     8    18    13
3    13     3    11

iloc

In [5]:
df.iloc[0:3]

   var1  var2  var3
0     9    18    25
1    14    29    29
2     8    18    13

In [9]:
df.index = [0,1,2,3,4,"a",6,7,8,9]
df

   var1  var2  var3
0     9    18    25
1    14    29    29
2     8    18    13
3    13     3    11
4    25    15    14
a    24     3    13
6    14    29    16
7    16    29     7
8    19    10     6
9    13     5     8

In [15]:
df.iloc[0:2]["var1"]

0     9
1    14
Name: var1, dtype: int32

In [17]:
df.loc[0:2, ["var1", "var3"]]

   var1  var3
0     9    25
1    14    29
2     8    13