# Boxplot

Veri Seti Hikayesi
* total_bill: yemeğin toplam fiyatı (bahşiş vergi dahil)
* tip: bahşiş
* sex: ücreti odeyen kişinin cinsiyeti (0 = male, 1 = female)
* smoker: grupta sigara içen var mı? (0=no, 1=yes)
* day: gün (3 = Thur, 4=fri, 6=sun ) 
* time: ne zaman? (0=day, 1=night )
* size: grupta kaç kişi var?

In [2]:
import seaborn as sns
tips = sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [5]:
df.sex.value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [6]:
df.smoker.value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [7]:
df.day.value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [9]:
df.time.value_counts()

Dinner    176
Lunch      68
Name: time, dtype: int64